*.ap_
*.apk
*.bak
*.class
*.dex
*.ear
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*~.nib
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.buildpath
.classpath
.cproject
.externalToolBuilders/
.gradle
.gradle/
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.project
.settings/
.target
.texlipse
..*~
Icon?
Thumbs.db
apps/.DS_Store
atlassian-ide-plugin.xml
bin/
build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
gen/
hs_err_pid*
local.properties
proguard/
target/
tmp/
